extends layout

block content
    .container
        .row.tlm-from
            .col-md-2
            .col-md-4
                if warning
                    .alert.alert-danger.alert-dismissible
                        strong #{warning}
                form(action='/user/edit', method='post')
                    h3 #{email}
                    .input-group
                        .input-group-prepend
                            span.input-group-text
                                i.fa.fa-user.fa-fw
                        input.form-control(type='text', name="username", placeholder="请输入用户名",
                            title = "用户名至少为三个非空白字符", pattern="[\\S]{3,}", value=username)
                    .input-group
                        textarea.form-control#desc(rows="5", name="signature", placeholder="请输入签名档")
                    .d-inline-flex
                        .input-group
                            .input-group-prepend
                                span.input-group-text
                                    i.fa.fa-keyboard.fa-fw
                            input.form-control(type='text', name="captcha", placeholder="不分大小写",
                                title = "验证码不正确", pattern="[a-zA-Z0-9]{4}")
                        div !{captcha}
                    .input-group.tlm-forget-password
                        button.btn.btn-primary.btn-block(type='submit') 保存修改
            .col-md-4
                .card
                    .card-header
                        p.card-text.text-muted
                            strong #{username}&nbsp;
                            small
                                span.badge.badge-primary &nbsp;LV #{level}
                                | &nbsp;
                                span.badge.badge-info
                                    i.fa.fa-calendar &nbsp;#{date}
                            | <br> #{signature}
            .col-md-2
